	
	<div style="clear:both">
    <h1 class="title" itemprop="name">{{ if $.Site.Params.titlecase }}{{ .Title | title }}{{ else }}{{ .Title }}{{ end }}</h1></div>
	<div style="color:grey;float:left">{{ partial "post/date.html" . }}</div>
	
	<div style="clear:both;margin-bottom:1em" class="entry-content" itemprop="articleBody">{{ .Content }}</div>
		
	<div class="meta">
	 {{ if .Params.categories }}<div class="tags" style="display:inline">
	 categories:{{ partial "post/categories.html" . }}</div>{{end}}
	 {{ if .Params.tags }}<div class="tags" style="display:inline">
	 tags:{{ partial "post/tags.html" . }}</div>{{end}}
	 {{ if .Params.series }}<div class="tags" style="display:inline">
	 series:{{ partial "post/series.html" . }}</div>{{end}}
	 {{ if .Keywords }}<div class="tags" style="display:inline">
	 keywords:{{ partial "post/keywords.html" . }}</div>{{end}}
	</div>
	
	<div style="clear:both;border-top:1px solid lightgrey">
		<div style="float:left">
		前一篇：{{ if .NextInSection }}<a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
		{{else}}没有了{{ end }}
		</div>
		<div style="float:right">
		后一篇：{{ if .PrevInSection }}<a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
		{{else}}没有了{{ end }}
		</div>
	</div>
	<div style="clear:both;margin-top:2em;">
		<div id="guess-you-like-list-title">猜你喜欢:</div>
		<ul id="guess-you-like-list">
		{{ $page_link := .Permalink }}
		{{ $tags := .Params.tags }}
		{{ range .Site.Pages }}
			{{ $page := . }}
			{{ $has_common_tags := intersect $tags .Params.tags | len | lt 0 }}
			{{ if and $has_common_tags (ne $page_link $page.Permalink) }}
				<li style="padding-top:0.35em"><a href="{{ $page.Permalink }}">{{ $page.Title }}</a></li>
			{{ end }}
		{{ end }}
		</ul>
	</div>
	<div style="float:left;clear:both;">
		<div style="margin-top:2em;">最新文章:</div>
		<ul id="recent-post-list">
		{{ range (first 5 (where .Site.Pages "Section" "post")) }}
			<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			<!--for date yyyy-mm-dd ({{substr .Date 0 10}})-->
		{{ end }}
		</ul>
	</div>
	<script type="text/javascript">
		$( document ).ready(function() {
			if(document.getElementById("guess-you-like-list").children.length<=0)
			{
				document.getElementById("guess-you-like-list-title").style.display = "none";
			}
		});
	</script>

{{if .Params.enablecomment}}
	<!-- 多说评论框 start -->
		<div class="ds-thread" data-thread-key="{{.RelPermalink}}" data-title="{{.Title}}" data-url="{{.Permalink}}"></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"gznotes"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			 || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
	<!-- 多说公共JS代码 end -->
{{end}}