{{ partial "head.html" . }}

<body>
	<div class="container">
		<div class="header-col" id="header-col">
			<div class="intrude-less">
			<header id="header" class="inner">{{ partial "header.html" . }}</header>				
			</div>
		</div>	
		<div class="mid-col">
			{{ if $.Site.Params.banner }}
				{{ partial "banner.html" . }}
			{{ end }}
			<div class="mid-col-container">
				<div id="content" class="inner">
					{{ partial "archive.html" . }}
				</div>
			</div>
			<footer id="footer" class="inner">{{ partial "footer.html" . }}</footer>
		</div>
		<div class="right-col">
			<div class="quotation-right-col">
			<p>不是说因为一件事难你不想做，而是因为你不想做，这件事才会变得很难。</p>
			</div>
			<div id="taglist-right-col">
				{{partial "custom/taglist.html" .}}
			</div>
		</div>
		<div><a href="#"><div id="gototop">回顶部</div></a></div>
	</div>
	{{ partial "disqus.html" . }}
	{{ partial "custom/after_footer.html" . }}

	<script type="text/javascript">
	$("#gototop").draggable();
	/* the show-nav-if-scroll-up feature sometimes annoying on iPhone.
		partly because when you scroll to end, there will be a scroll up autoly.
		var nLastYOffset = 0;// not know how to put this in a js file.. due to this var
		$(window).scroll(function() {
			if(window.pageYOffset > nLastYOffset ||
			window.pageYOffset === 0)
			{//scroll down or at top
				$("#header-col").css("position","relative");
			}
			else if(window.pageYOffset > 200)
			{
				$("#header-col").css("position","fixed");
				$("#header-col").css("left","0");
				$("#header-col").css("top","0");
				$("#header-col").css("z-index","10");
			}
			nLastYOffset = window.pageYOffset;
		});*/
	</script>
</body>
</html>
