<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 class="title" itemprop="name"><a href="{{ .Permalink }}" itemprop="url">{{ if $.Site.Params.titlecase }}{{ .Title | title }}{{ else }}{{ .Title }}{{ end }}</a></h1>
    <div class="meta">
		{{ if and (and ($.Site.Params.disqus_short_name) (ne .Params.comments "false")) ($.Site.Params.disqus_show_comment_count) }}
			<span class="comments"><a href="{{ .Permalink }}#disqus_thread">Comments</a></span>
		{{ end }}
		{{ partial "post/date.html" . }}
	</div>
	
	<div class="entry-content" style="clear:both" itemprop="articleBody">
		{{ with .Params.featured_image }}<img class="feature-pic" src="{{ . }}">{{ end }}
		{{ .Summary }}
		
		{{ if .Truncated }}<a href="{{ .Permalink }}" >{{ if $.Site.Params.excerpt_link }}{{ $.Site.Params.excerpt_link }}{{ else }}阅读全文 →{{ end }}</a>{{ end }}
	</div>
	
	<div class="meta" style="float:left">
		{{ if .Params.categories }}
			<div class="tags" style="display:inline">{{ partial "post/categories.html" . }}</div>
		{{ end }}
		{{ if .Params.tags }}
			<div class="tags" style="display:inline">{{ partial "post/tags.html" . }}</div>
		{{ end }}
		{{ if .Params.series }}
			<div class="tags" style="display:inline">{{ partial "post/series.html" . }}</div>
		{{ end }}
	</div>
	<div class="more-link" style="float:right;font-size:1.5em">
		<!--{{ if .Truncated }}<a href="{{ .Permalink }}" >{{ if $.Site.Params.excerpt_link }}{{ $.Site.Params.excerpt_link }}{{ else }}阅读全文 →{{ end }}</a>{{ end }}-->
	</div>
</article>
