{{ partial "head.html" . }}

<body>
	<div class="container">
		<div class="header-col" id="header-col">
			<div class="intrude-less">
			<header id="header" class="inner">{{ partial "header.html" . }}</header>
			</div>
		</div>
		<div class="mid-col">
			{{ if $.Site.Params.banner }}
				{{ partial "banner.html" . }}
			{{ end }}
			<div class="mid-col-container">
				<!--
				<div id="my-bio-mid-col">
					{{partial "custom/aboutme.html"}}
				</div>
				-->
				<div id="content" class="inner">
					{{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
					<div itemscope itemtype="http://schema.org/Blog">
					{{ range $paginator.Pages }}
				        {{ .Render "summary" }}
				    {{ end }}
				    </div>
				    <nav id="pagenavi">
					    {{ if $paginator.HasPrev }}
					        <a href="{{ $paginator.Prev.URL }}" class="prev">前一页</a>
					    {{ end }}
					    {{ if $paginator.HasNext }}
					        <a href="{{ $paginator.Next.URL  }}" class="next">下一页</a>
					    {{ end }}
					    <div class="center"><a href="{{ $.Site.BaseURL }}/post/">归档文章</a></div>
					</nav>
				</div>
				<div id="taglist-mid-col">
					{{partial "custom/taglist.html" .}}
				</div>
			</div>
			<footer id="footer" class="inner">{{ partial "footer.html" . }}</footer>
		</div>
		<div class="right-col">
			<!--
			<div id="my-bio-right-col">
				{{partial "custom/aboutme.html"}}
			</div>
			-->
			<div id="taglist-right-col">
				{{partial "custom/taglist.html" .}}
			</div>
		</div>
		<div><a href="#"><div id="gototop">回顶部</div></a></div>
	</div>
	{{ partial "disqus.html" . }}
	{{ partial "custom/after_footer.html" . }}

	<script type="text/javascript">
	// from http://popdevelop.com/2010/08/touching-the-web/
	// make the gototop div dragable on pad and phone 
	$("#gototop").draggable();
	
	/* the show-nav-if-scroll-up feature sometimes annoying on iPhone.
		partly because when you scroll to end, there will be a scroll up autoly.
		var nLastYOffset = 0;// not know how to put this in a js file.. due to this var
		$(window).scroll(function() {
			if(window.pageYOffset > nLastYOffset ||
			window.pageYOffset === 0)
			{//scroll down or at top
				$("#header-col").css("position","relative");
			}
			else if(window.pageYOffset > 200)
			{
				$("#header-col").css("position","fixed");
				$("#header-col").css("left","0");
				$("#header-col").css("top","0");
				$("#header-col").css("z-index","10");
			}
			nLastYOffset = window.pageYOffset;
		});*/
	</script>
</body>
</html>
